<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.doandidong">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DoAnDiDong">
        <activity android:name=".ChucNang.Account.IntroductoryActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".ChucNang.MonOrder"
            android:exported="true"/>

        <activity android:name=".ChucNang.ChiTietOrder.ChiTietSanPham"
            android:exported="true"
            />

        <activity
            android:name=".ChucNang.LichSuHoatDongActivity"
            android:exported="true"
            android:label="Lịch sử hoạt động"
            android:parentActivityName=".ChucNang.MainActivity"
            android:theme="@style/thameActionbar" />
        <activity
            android:name=".ChucNang.CuaHangOnline.DanhSachSanPhamActivity"
            android:exported="true"
            android:label="Danh sách sản phẩm"
            android:parentActivityName=".ChucNang.CuaHangOnline.TaoSanPhamOnlineActivity"
            android:theme="@style/thameActionbar4" />
        <activity
            android:name=".ChucNang.SanPham.DanhSachNguyenLieuActivity"
            android:exported="true"
            android:label="Danh sách nguyên liệu" />
        <activity
            android:name=".ChucNang.BaoCao.DanhSachChiTieuActivity"
            android:exported="true"
            android:label="" />
        <activity
            android:name=".ChucNang.ChiTieuActivity"
            android:exported="true"
            android:label="Chi tiêu" />
        <activity
            android:name=".ChucNang.Account.TaoChiNhanhActivity"
            android:exported="true" />
        <activity
            android:name=".ChucNang.Account.ChiNhanhActivity"
            android:exported="true" />
        <activity
            android:name=".ChucNang.BienLaiActivity"
            android:exported="true" />
        <activity
            android:name=".ChucNang.NhanVien.ChamCongNhanVienActivity"
            android:exported="true"
            android:label="Chấm công nhân viên"
            android:parentActivityName=".ChucNang.NhanVien.ListNhanVien"
            android:theme="@style/thameActionbar" />
        <activity
            android:name=".ChucNang.ThietLapActivity"
            android:exported="true"
            android:label="Tiện ích"
            android:parentActivityName=".ChucNang.MainActivity"
            android:theme="@style/thameActionbar4" />
        <activity
            android:name=".ChucNang.Account.ThongTinAccountActivity"
            android:exported="true"
            android:label=""
            android:parentActivityName=".ChucNang.ThietLapActivity"
            android:theme="@style/thameActionbar2" />
        <activity
            android:name=".ChucNang.ThanhToanActivity"
            android:exported="true" />
        <activity
            android:name=".ChucNang.SanPham.ListProduct"
            android:exported="true" />
        <activity
            android:name=".ChucNang.SanPham.SuaSanPhamActivity"
            android:exported="true" />
        <activity android:name=".ChucNang.SanPham.AddCategory" />
        <activity android:name=".ChucNang.SanPham.AddProduct" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".ChucNang.Manager" />
        <activity android:name=".ChucNang.Income" />
        <activity android:name=".ChucNang.Processing" />
        <activity android:name=".ChucNang.OrderMenu" />
        <activity android:name=".ChucNang.MainActivity" /> <!-- Sign in, SignUp -->
        <activity
            android:name=".ChucNang.Account.StoreSetting"
            android:exported="true" />
        <activity
            android:name=".ChucNang.Account.SignInActivity"
            android:exported="true" />
        <activity
            android:name=".ChucNang.Account.SignUpActivity"
            android:exported="true" />
        <activity
            android:name=".ChucNang.Account.ForgotPasswordActivity"
            android:exported="true" /> <!-- Báo cáo -->
        <activity
            android:name=".ChucNang.BaoCao.DanhSachBienLaiActivity"
            android:exported="true"
            android:label="Danh sách biên lai"
            android:theme="@style/thameActionbar2" />
        <activity
            android:name=".ChucNang.BaoCao.BaoCaoSanPhamActivity"
            android:exported="true"
            android:label="Báo cáo sản phẩm"
            android:parentActivityName=".ChucNang.BaoCao.BaoCaoTongQuanActivity"
            android:theme="@style/thameActionbar2" />
        <activity
            android:name=".ChucNang.BaoCao.BaoCaoTongQuanActivity"
            android:exported="true"
            android:label="Tổng quan"
            android:parentActivityName=".ChucNang.Account.SignUpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/thameActionbar2" />
        <activity
            android:name=".ChucNang.BaoCao.ChiTietNhapKhoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChucNang.BaoCao.BaoCaoKhoActivity"
            android:screenOrientation="portrait" /> <!-- Đơn online -->
        <activity
            android:name=".ChucNang.DonHangOnline.DuyetDonHangActivity"
            android:label="Đơn hàng online"
            android:parentActivityName=".ChucNang.MainActivity"
            android:theme="@style/thameActionbar2" />
        <activity
            android:name=".ChucNang.BaoCao.BaoCaoChiSoActivity"
            android:label="Chỉ số"
            android:parentActivityName=".ChucNang.BaoCao.BaoCaoTongQuanActivity"
            android:theme="@style/thameActionbar2" /> <!-- Bếp -->
        <activity
            android:name=".ChucNang.BepBar.BepActivity"
            android:label="Bếp"
            android:parentActivityName=".ChucNang.MainActivity"
            android:theme="@style/thameActionbar3" />
        <activity
            android:name=".ChucNang.BepBar.DangXuLyActivity"
            android:exported="true"
            android:parentActivityName=".ChucNang.BepBar.BepActivity"
            android:theme="@style/thameActionbar3" />
        <activity
            android:name=".ChucNang.BepBar.DangXuLyOnlineActivity"
            android:exported="true"
            android:parentActivityName=".ChucNang.BepBar.BepActivity"
            android:theme="@style/thameActionbar3" />
        <activity
            android:name=".ChucNang.CuaHangOnline.CuaHangOnlineActivity"
            android:exported="true"
            android:label=""
            android:parentActivityName=".ChucNang.MainActivity"
            android:theme="@style/thameActionbar4" />
        <activity
            android:name=".ChucNang.CuaHangOnline.ThongTinCuaHangOnlineActivity"
            android:exported="true"
            android:label=""
            android:parentActivityName=".ChucNang.MainActivity"
            android:theme="@style/thameActionbar4" />
        <activity
            android:name=".ChucNang.CuaHangOnline.CauHinhVanChuyenOnlineActivity"
            android:exported="true"
            android:label=""
            android:parentActivityName=".ChucNang.MainActivity"
            android:theme="@style/thameActionbar4" />
        <activity
            android:name=".ChucNang.CuaHangOnline.QuangCaoActivity"
            android:exported="true"
            android:label=""
            android:parentActivityName=".ChucNang.MainActivity"
            android:theme="@style/thameActionbar4" />
        <activity
            android:name=".ChucNang.CuaHangOnline.TaoSanPhamOnlineActivity"
            android:exported="true"
            android:label=""
            android:parentActivityName=".ChucNang.MainActivity"
            android:theme="@style/thameActionbar4" />
        <activity
            android:name=".ChucNang.CuaHangOnline.ThoiGianLamViecOnlineActivity"
            android:exported="true"
            android:label=""
            android:parentActivityName=".ChucNang.MainActivity"
            android:theme="@style/thameActionbar4" />
        <activity
            android:name=".ChucNang.NhanVien.ListNhanVien"
            android:exported="true"
            android:label="Danh sách nhân viên"
            android:parentActivityName=".ChucNang.MainActivity"
            android:theme="@style/thameActionbar5" />
        <activity
            android:name=".ChucNang.NhanVien.AddNhanVien"
            android:exported="true"
            android:label="Thêm nhân viên"
            android:parentActivityName=".ChucNang.NhanVien.ListNhanVien"
            android:theme="@style/thameActionbar5" />
        <activity
            android:name=".ChucNang.KhachHang.ThemKhachHang"
            android:exported="true"
            android:label="Thêm khách hàng"
            android:parentActivityName=".ChucNang.KhachHang.ListKhachHang"
            android:theme="@style/thameActionbar5" />
        <activity
            android:name=".ChucNang.NhanVien.ActivityUpdateNhanVien"
            android:exported="true"
            android:label="Thay đổi thông tin nhân viên"
            android:parentActivityName=".ChucNang.KhachHang.ListKhachHang"
            android:theme="@style/thameActionbar5" />
        <activity
            android:name=".ChucNang.KhachHang.ThemNhomKhachHang"
            android:exported="true"
            android:label="Thêm nhóm khách hàng"
            android:parentActivityName=".ChucNang.KhachHang.ListNhomKhachHang"
            android:theme="@style/thameActionbar5" />
        <activity
            android:name=".ChucNang.KhachHang.ListKhachHang"
            android:exported="true"
            android:label="Danh sách khách hàng"
            android:parentActivityName=".ChucNang.MainActivity"
            android:theme="@style/thameActionbar5" />
        <activity
            android:name=".ChucNang.KhachHang.SuaKhachHang"
            android:exported="true"
            android:label="Thay đổi khách hàng"
            android:parentActivityName=".ChucNang.KhachHang.ListKhachHang"
            android:theme="@style/thameActionbar5" />
        <activity
            android:name=".ChucNang.KhachHang.ListNhomKhachHang"
            android:exported="true"
            android:label="Danh sách khách hàng"
            android:parentActivityName=".ChucNang.MainActivity"
            android:theme="@style/thameActionbar5" />
        <activity
            android:name=".ChucNang.KhachHang.SuaNhomKhachHang"
            android:exported="true"
            android:label="Danh sách nhóm khách hàng"
            android:parentActivityName=".ChucNang.KhachHang.ListNhomKhachHang"
            android:theme="@style/thameActionbar5" />
        <activity
            android:name=".ChucNang.KhuyenMai.ThemKhuyenMai"
            android:exported="true"
            android:label=""
            android:parentActivityName=".ChucNang.KhuyenMai.ListKhuyenMai"
            android:theme="@style/thameActionbar6" />
        <activity
            android:name=".ChucNang.KhuyenMai.ListKhuyenMai"
            android:exported="true"
            android:label=""
            android:parentActivityName=".ChucNang.MainActivity"
            android:theme="@style/thameActionbar6" />
        <activity
            android:name=".ChucNang.SanPham.ListCategory"
            android:exported="true"
            android:label="Danh sách nhóm sản phẩm"
            android:parentActivityName=".ChucNang.MainActivity"
            android:theme="@style/thameActionbar5" />
        <activity android:name=".ChucNang.Error" />

        <activity
            android:name=".ChucNang.Account.ChiNhanhSignInActivity"
            android:enabled="true" />
        <activity
            android:name=".ChucNang.TachBanActivity"
            android:exported="false" />
        <activity
            android:name=".ChucNang.DatBan.DatBan"
            android:exported="false" />
        <activity
            android:name=".ChucNang.DatBan.DanhSachDatBan"
            android:exported="false" />
        <activity
            android:name=".ChucNang.BaoCao.CapNhatBaoCaoActivity"
            android:enabled="true"
            android:label="Cập nhật nguyên liệu"
            android:parentActivityName=".ChucNang.ThietLapActivity"
            android:theme="@style/thameActionbar" />
        <activity
            android:name=".ChucNang.SanPham.ThemNguyenLieuActivity"
            android:enabled="true"
            android:parentActivityName=".ChucNang.SanPham.DanhSachNguyenLieuActivity"
            android:theme="@style/thameActionbar" />
        <activity
            android:name=".ChucNang.BaoCao.ChiTietThuChiActivity"
            android:enabled="true"
            android:label="Chi tiêu"
            android:parentActivityName=".ChucNang.BaoCao.BaoCaoTongQuanActivity"
            android:theme="@style/thameActionbar" />
        <activity android:name=".ChucNang.KhuyenMaiOffLine.KhuyenMaiOff" />
        <activity android:name=".ChucNang.KhuyenMaiOffLine.KhuyenMaiThanhToan" />
        <activity
            android:name=".ChucNang.ThemBan_KhuVuc.ListBan"
            android:exported="false" />
        <activity
            android:name=".ChucNang.ThemBan_KhuVuc.ListKhuVuc"
            android:exported="false" />
        <activity
            android:name=".ChucNang.ThemBan_KhuVuc.SuaBanKV"
            android:exported="false" />
        <activity
            android:name=".ChucNang.ThemBan_KhuVuc.SuaKhuVuc"
            android:exported="false" />
        <activity
            android:name=".ChucNang.ThemBan_KhuVuc.ThemBan"
            android:exported="false" />
        <activity
            android:name=".ChucNang.ThemBan_KhuVuc.ThemKhuVuc"
            android:exported="false" />
        <activity
            android:name=".ChucNang.KhuyenMaiOffLine.ListChonKhuyenMaiOff"
            android:exported="false" />
        <activity
            android:name=".ChucNang.KhuyenMaiOffLine.ListKhuyeMaiOff"
            android:exported="false" />
        <activity
            android:name=".ChucNang.SanPham.ListDonViTinh"
            android:exported="false" />

        <activity
            android:name=".ChucNang.DatBan.XacNhanDatBan"
            android:exported="false" />

    </application>

</manifest>